#aboutme {
	width: 800px;
	padding: 50px;
	align-content: center;
	box-shadow: 5px 0 5px -5px #333;
	box-shadow: -5px 0 5px -5px #333;
	align-self: center;
	margin: 0 auto;
	text-align:justify;
}

p,li {
	color: #707070;
}

h1 {
	color: #3998A3;
	text-align: center;
	font-size: 2em;
}

li {
	padding-bottom: 5px;
	padding-top: 5px;
}

#telescope{
	text-align: center;
	width: 60%;
	align-self: center;
	margin: 0 auto;
}