#container{
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

main{
	width: 0 auto;
	position: relative;
	width: 80%;
	align-self: center;
	margin: auto;
	text-align: center;
	font-size: 1.8em;
	line-height: 1.6;
}

input, select, textarea{
	font-size: 0.8em;
}
